@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
.home-banner{
    background-image: url(./mountain-1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 620px;
    color: white;
}
.home-banner h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 64px;
}
.home-banner p{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
}
.home-banner .content{
    padding-top: 15%;
}
.home-banner .content .btn-1{
    color: white;
    border: 2px solid white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-right: 16px;
}
.home-banner .content .btn-2{
    background-color: white;
    border: 2px solid white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.destination{
    position: static;
}
.destination .row-1{
    margin-bottom: 96px;
}
.destination .row-2{
    margin-bottom: 96px;
}
.destination img{
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}
.destination .card-body{
    background-color: whitesmoke;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
.destination h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 32px;
}
.destination p{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

/* gallery */

.gallery h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px; 
}

.gallery img{
    border-radius: 16px;
}

/* about */
.about{
    height: 624px;
}
.about h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px; 
}
.about p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px; 
}